<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{main_layout}">
<head>
    <title>Clienti - Lista clienti</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div th:switch="${#lists.size(clienti)}">
        <h2 th:case="0">Nu exista clienti</h2>
        <div th:case="*">
            <h2>Clienti</h2>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nume</th>
                    <th>Prenume</th>
                    <th>Telefon</th>
                    <th>Adresa</th>
                    <th>Oras</th>
                    <th>Editare</th>
                    <th>Stergere</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client : ${clienti}">
                    <td th:text="${client.clientId}"></td>
                    <td th:text="${client.nume}"></td>
                    <td th:text="${client.prenume}"></td>
                    <td th:text="${client.telefon}"></td>
                    <td th:text="${client.adresa}"></td>
                    <td th:text="${client.oras}"></td>
                    <td><a class="btn btn-success" th:href="@{/clienti/edit/{id}(id=${client.clientId})}">Editeaza</a></td>
                    <td><a class="btn btn-danger" th:href="@{/clienti/delete/{id}(id=${client.clientId})}">Sterge</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a class="btn btn-primary" href="/clienti/add">Adauga client</a></p>
    </div>
</div>
</body>
</html>