<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{main_layout}">
<head>
    <title>Clienti - Editare client</title>
</head>
<body>
<div layout:fragment="content" class="container">
<form action="#" th:action="@{/clienti/update/{id}(id=${client.clientId})}" th:object="${client}" method="post">

    <h1>Editare client</h1>

    <div class="form-group">
        <label for="nume">Nume</label>
        <input type="text" class="form-control" th:field="*{nume}" id="nume" placeholder="Nume">
        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('nume')}" th:errors="*{nume}"></div>
    </div>

    <div class="form-group">
        <label for="prenume">Prenume</label>
        <input type="text" class="form-control" th:field="*{prenume}" id="prenume" placeholder="Prenume">
        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('prenume')}" th:errors="*{prenume}"></div>
    </div>

    <div class="form-group">
        <label for="adresa">Adresa</label>
        <textarea th:field="*{adresa}" class="form-control" id="adresa" placeholder="Adresa"></textarea>
        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('adresa')}" th:errors="*{adresa}"></div>
    </div>

    <div class="form-group">
        <label for="oras">Oras</label>
        <input type="text" th:field="*{oras}" class="form-control" id="oras" placeholder="Oras">
        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('oras')}" th:errors="*{oras}"></div>
    </div>

    <div class="form-group">
        <label for="telefon">Telefon</label>
        <input type="text" th:field="*{telefon}" class="form-control" id="telefon" placeholder="07">
        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('telefon')}" th:errors="*{telefon}"></div>
    </div>

    <input type="submit" class="btn btn-primary" value="Salveaza">

</form>
</div>
</body>
</html>