<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{main_layout}">
<head>
    <title>all4food - Pagina principala</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <table class="table table-stripped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Produs</th>
                    <th>Pret</th>
                    <th>Cantitate</th>
                    <th>Pret Total</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produs : ${produse}">
                    <td th:text="${produs.numeProdus}"></td>
                    <td th:text="${produs.pret}"></td>
                    <td th:text="${produs.cantitate}"></td>
                    <td th:text="${produs.pretTotal}"></td>
                </tr>
            </tbody>
            <thead>
                <tr class="table-success">
                    <th colspan="3">Total comanda</th>
                    <th th:text="${comanda.total}"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>