<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{main_layout}">
<head>
    <title>all4food - Pagina principala</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-4 mt-3" th:each="produs : ${produse}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${produs.denumire}"></h5>
                    <p class="card-text" th:text="${produs.descriere}"></p>
                    <p class="card-text"><b>Pret: <span th:text="${produs.pret}"></span> lei</b></p>
                    <a th:href="@{/cos/add/{id}(id=${produs.produsId})}" class="btn btn-success">Cumpara</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>