<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{main_layout}">
<head>
    <title>all4food - Pagina principala</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="starter-template">
        <h1>all4food - Bine ati venit!</h1>
        <h2><a th:href="@{/admin/clienti}">Administrare comenzi</a></h2>
        <h2><a th:href="@{/user}">Profil</a></h2>
        <h2><a th:href="@{/about}">Despre noi</a></h2>
    </div>
</div>
</body>
</html>